@define-color color1 #f4dbd6; /* {< replace_value(themes.wofi.color1) >} */
@define-color color2 #f0c6c6; /* {< replace_value(themes.wofi.color2) >} */
@define-color color3 #c6a0f6; /* {< replace_value(themes.wofi.color3) >} */
@define-color color4 #f5bde6; /* {< replace_value(themes.wofi.color4) >} */
@define-color color5 #b7bdf8; /* {< replace_value(themes.wofi.color5) >} */
@define-color text #cad3f5; /* {< replace_value(themes.wofi.text) >} */
@define-color background #24273a; /* {< replace_value(themes.wofi.background) >} */
@define-color surface #1e2030; /* {< replace_value(themes.wofi.surface) >} */
@define-color shadow #181926; /* {< replace_value(themes.wofi.shadow) >} */

@define-color background-50 rgba(36, 39, 58, 0.50); /* {< replace_between(`rgba(`, `, 0.50)`, themes.wofi.background) >} */

* {
    font-family: "Inconsolata Nerd Font", monospace;
    font-size: 14.5px;
}

window {
    margin: 0px;
    padding: 12px;
    border: 0.18em solid @color4;
    border-radius: 10px;
    background-color: @background-50;
    backdrop-filter: blur(40px) saturate(180%);
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.5);
    animation: slideIn 0.42s ease-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#inner-box,
#outer-box,
#scroll {
    margin: 6px;
    padding: 10px;
    background: transparent;
}

#input {
    margin: 8px 24px;
    padding: 14px;
    border: none;
    border-radius: 6px;
    background-color: rgba(
        36,
        39,
        58,
        0.7
    ); /* {< replace_between(`rgba(`, `, 0.70)`, themes.wofi.background) >} */
    color: @text;
    font-weight: bold;
}

#input:focus {
    background-color: rgba(
        198,
        160,
        246,
        0.32
    ); /* {< replace_between(`rgba(`, `, 0.32)`, themes.wofi.color3) >} */
    outline: 2.5px solid @color4;
}

#entry {
    padding: 12px 16px;
    border-radius: 8px;
    margin: 4px 0;
    background: transparent;
    transition: all 0.22s ease;
}

#entry:selected {
    background: rgba(
        198,
        160,
        246,
        0.45
    ) !important; /* {< replace_between(`rgba(`, `, 0.45)`, themes.wofi.color3) >} */
    border: 0.16em solid @color4;
    border-radius: 8px;
}

#entry:selected #text {
    color: @text;
    font-weight: bold;
}

#text {
    color: @text;
    margin-left: 8px;
}

#entry:drop(active) {
    background-color: @color3 !important;
}
